body, html{
  background-image: url("http://i.huffpost.com/gen/1846574/images/o-SAN-FRANCISCO-FOG-facebook.jpg");
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:20px solid yellow;
  border-radius:100px;
  position:absolute;
}

.marcus{
  width: 100px;
  height: 100px;
  position:absolute;
}

.michael{
  border:20px solid red;
  border-radius:100px;
  position:absolute;
}

.rotating{
  transform: rotate(60deg);
}

.cat{
  transform: rotate(-60deg);
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
//